@font-face {
  font-family: Totoro;
  src: url("Spumoni LP Std Regular.otf") format("opentype");
}

body {
  background-color: #9ace8d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-family: Totoro, sans-serif;
  text-align: center;
  font-size: 96px;
  font-weight: 400;
  color: #fbfce6;
  word-wrap: break-word;
  padding: 55px 0 55px 0;
}

nav {
  height: 100%;
  background: #c7fa86;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  padding: 45px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.criteria {
  background: #f3a281;
  padding: 10px;
  margin-left: auto;
  font-family: "Lilita One";
  border-radius: 45px;
  font-size: x-large;
  color: #fbfce6;
}

section label {
  font-family: "Lilita One";
  font-size: x-large;
  color: rgb(49, 48, 49);
  
}

h2 {
  margin: 30px auto 0;
  text-align: center;
  font-family: "Lilita One";
  font-size: x-large;
  background: #ef9779;
  width: fit-content;
  padding: 8px;
  border-radius: 30px;
  color: #fbfce6;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#database-list {
display: inherit;
justify-content: inherit;
align-items: inherit;
flex-direction: row;
flex-wrap: wrap;
}

.cards {
  padding: 22px 27px 43px 27px;
  margin: 45px 62px;
  flex-direction: column;
  background: #61a848;
  text-align: center;
  font-family: "Lilita One";
  font-size: 20px;
  color: #e7e9c4;
  max-width: 202px;
  border-radius: 15px;
  border: 2px solid darkgreen;
  box-shadow: 0px 3px 0px darkgreen;
}
.poster {
  border-radius: 15px;
  border: solid 5px #e4e87c;
}
.cards h3 {
  margin-top: 25px;
}

#gender-options, 
#director-options {
  color: #fbfce6;
  margin: 20px 16px;
  font-size: x-large;
  font-family: "Lilita One";
  background: #709fcd;
  border-radius: 20px;
  padding: 10px; 
  text-align: center;
}

#sort-order {
  color: #fbfce6;
  margin: 10px 16px 10px 16px;
  font-family: "Lilita One";
  font-size: x-large;
  background: #709fcd;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

#button-clear {
  padding: 15px;
  background: #73b95b;
  border-radius: 20px;
  font-family: "Lilita One";
  color: #fbfce6;
  border: #73b95b;
  margin: 10px 16px 10px 16px;
  font-size: large;
  cursor: pointer;
  box-shadow: 0px 3px 0px darkgreen;
}

footer {
  text-align: center;
  padding: 60px;
  color: black;
  font-family: "Lilita One";
  font-weight: bold;
  font-size: larger;
  background: #c7fa86;
}
